html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.1;
  background: #f9f9f9;
  color: #000;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  /* text-decoration: none; */
  color: #4684cc;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
fieldset {
  margin: 0;
}

.separator {
  width: 100%;
  height: 1.2px;
  margin: 20px 0;
  background: linear-gradient(to right, pink, violet, blue);
}

.separator-vertical {
  height: 60%; /* Высота на весь контейнер */
  width: 1.2px;
  margin: 0 20px; /* Отступы по бокам */
  background: linear-gradient(
    to bottom,
    pink,
    violet,
    blue
  ); /* Градиент сверху вниз */
}

.horizontal_bar_chart {
  width: 200px;
  height: 200px;
  /* page-break-before: auto;
  page-break-after: always; */
}

.highlighter {
  font-weight: 700;
}

.doughnut_chart {
  width: 200px;
  height: 200px;
}

.vertical_bar_chart {
  width: 350px;
  height: 350px;
}

.horizontal_bar_chart {
  width: 400px;
  height: 350px;
}

.chart_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  page-break-inside: avoid;
}

.chart_container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  page-break-inside: avoid;
}

.chart_description {
  width: 50%;
}

.main {
  width: 794px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: auto;
  overflow: visible;
  width: 100%;
}

.main__title {
  font-size: 18px;
  font-weight: 200;
}

.main__subtitle {
  font-size: 16px;
  font-weight: 200;
}

.summary {
  margin-bottom: 40px;
}

.info {
  flex: 0 0 30%;
  padding: 20px;
  background: #000;
  color: #f9f9f9;
}

.info_logo__container {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.info_logo__sub {
  font-size: 8px;
  font-weight: 100;
  display: flex;
  gap: 3px;
  flex-direction: column;
  margin: 0;
}

.info__title {
  font-weight: 200;
  margin-bottom: 20px;
}

.info__dates {
  display: flex;
  justify-content: space-between;
}
.team {
  display: flex;
  flex-direction: column;
}

.participant {
  display: flex;
  justify-content: space-between;
}

.participant__person {
  display: flex;
  gap: 5px;
}

.participant__job_title,
.testing_dates__title {
  color: #4684cc;
}

.main_section {
  flex: 0 0 70%;
  padding: 20px;
  flex-grow: 8;
  background: #f9f9f9;
  flex: 1;
}

.title2 {
  margin-top: 60px;
}

.main_section__title {
  font-size: 20px;
  font-weight: 300;
}

.small_text {
  color: #4684cc;
}

.table_rows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.table_row {
  font-size: 14px;
  color: #4684cc;
}

.table_row__text {
  display: inline-flex;
  align-items: center;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.major {
  background-color: #4684cc;
}

.minor {
  background-color: #4bc0c0b3;
}

.critical {
  background-color: #ff6384b3;
}

.average {
  background-color: #ffce56b3;
}

.fixed-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #8aab87;
  color: #f9f9f9;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.fixed-button:hover {
  background-color: #667e64;
}
